* {
	box-sizing: border-box;
}
body {
	user-select: none;
	
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.calc {
	position: relative;
	background: black;
	max-width: 360px;
	max-height: 600px;
	top: 50px;
	left: 100px;
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 4px;

}

.item {
	background-color: #48D1CC;
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-weight: bold;
	font-size: 25px;
}
.form {
	min-width: 100%;
	padding: 0;
	grid-column: 1/-1; 
}
input {
	width: 100%;
	height: 60px;
	border: none;
	font-size: 30px;
	outline: none;
	text-align: right;
}
.clean {
	grid-column: 1/3;
	background-color: #EE82EE;
}
.back {
	grid-column: 3/-1;
	background-color: #B22222;
}
.zero {
	grid-column: 1/3;
}
.equal {
	grid-column: 4;
	grid-row: 6/8;
	background-color:#32CD32;
}
.symb {
	background-color:#DAA520;
}
